<header class="top-header">

    <div class="search-container">
        <i class="ph ph-magnifying-glass search-icon"></i>
        <input type="text" placeholder="Buscar produtos, ativos ou faturas..." class="search-input">
    </div>

    <div class="header-actions">

        <button class="action-btn notification-btn">
            <i class="ph-fill ph-bell"></i>
            <span class="dot"></span>
        </button>

        <button class="action-btn">
            <i class="ph-fill ph-question"></i>
        </button>

        <div class="divider"></div>

        <div class="company-selector">
            <span class="company-name">Matriz</span>
            <i class="ph ph-caret-down"></i>
        </div>

    </div>

</header>