<div class="actions-container">
  
  <div class="action-item">
    <div class="icon-box warning"><i class="ph-fill ph-warning"></i></div>
    <div class="text-content">
      <h4>Resma Papel A4</h4>
      <p>Estoque: 5 un. (Min: 20)</p>
    </div>
    <div class="arrow"><i class="ph ph-caret-right"></i></div>
  </div>

  <div class="action-item">
    <div class="icon-box info"><i class="ph-fill ph-gear"></i></div>
    <div class="text-content">
      <h4>Servidor Dell R740</h4>
      <p>Manutenção preventiva pendente</p>
    </div>
    <div class="arrow"><i class="ph ph-caret-right"></i></div>
  </div>

  <div class="action-item">
    <div class="icon-box warning"><i class="ph-fill ph-warning"></i></div>
    <div class="text-content">
      <h4>Toner HP 508A</h4>
      <p>Estoque zerado no setor 4</p>
    </div>
    <div class="arrow"><i class="ph ph-caret-right"></i></div>
  </div>

  <div class="action-item">
    <div class="icon-box info"><i class="ph-fill ph-gear"></i></div>
    <div class="text-content">
      <h4>Ar Condicionado 12k</h4>
      <p>Troca de filtros necessária</p>
    </div>
    <div class="arrow"><i class="ph ph-caret-right"></i></div>
  </div>

</div>