.app-layout {
    display: grid;
    grid-template-columns: 260px 1fr;
    min-height: 100vh;
    background-color: #f8fafc;
}

.main-content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: auto;
}

.page-content {
    padding: 32px;
    flex-grow: 1;
}