<aside class="sidebar">
    <div class="brand">
        <div class="brand-icon">
            <img src="assets/images/logo (white).png" alt="Logo do Sistema" class="logo">
        </div>
        <div class="brand-text">
            <h2>Stok Sistemas</h2>
            <span>Gestão Integrada</span>
        </div>
    </div>

    <nav class="nav-menu">
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-item">
            <i class="ph ph-squares-four"></i> Dashboard
        </a>
        <a routerLink="/almoxarifado" routerLinkActive="active" class="nav-item">
            <i class="ph ph-archive-box"></i> Almoxarifado
        </a>
        <a routerLink="/patrimonio" routerLinkActive="active" class="nav-item">
            <i class="ph ph-suitcase-simple"></i> Patrimonio
        </a>
        
        <a class="nav-item"><i class="ph ph-chart-bar"></i> Relatórios</a>
        <a class="nav-item"><i class="ph ph-gear"></i> Configurações</a>
    </nav>

    <div class="user-profile">
        <img src="assets/images/perfil.png" alt="Avatar do Usuário" class="avatar">
        <div class="user-info">
            <span class="user-name">Admin User</span>
            <span class="user-mail" >admin@mail.com</span>
        </div>
        <button class="btn-logout" title="Sair">
            <i class="ph ph-sign-out"></i>
        </button>
    </div>
</aside>